.projects-container {
    display: flex;
    justify-content: center;
    /* background-color: black; */
    font-family: Helvetica, Arial, sans-serif;
}

.projects-greeting {
    margin: 15px 0 15px 0;
    font-size: medium;
}

.projects-list {
    margin: 15px 0 15px 0;
}

.project {
    margin: 30px 0 30px 0;
}

.project-name {

}

.project-description {
    margin: 8px 0 8px 0;
}
